body{
    background: url(../img/RW0kAX9evv8.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.left,.right{
  display:inline-block
}
.left{
  width:170px;
  height:239px;
  margin-right:-4px
}

div>div>div{
  display:block;
  height:34px;
  margin-left: auto;
  margin-right: auto;
}
div>div>div>div{
  width:30px;
  height:30px;
  display:inline-block;
  float:right;
  margin:2px;
}
div.right>div>div{
  float:left;
}
