<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Our page</title>
  
  
  
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>
  <audio autoplay>
    <source src="static/snd/FFXV.mp3" type="audio/mpeg">
  </audio>
<style>
   .center {
    background: url(../static/img/RW0kAX9evv8.jpg);
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    height:100%;
    width: 310px;
    padding: 70px;
    margin: auto;
   }
  </style>

<body class='center'>

  <div class='left'>
  <div style='padding-right:68px'>
    <div></div>
    <div></div>
  </div>
  <div style='padding-right:34px'>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
  </div>
</div>
<div class='right'>
  <div style='padding-left:34px'>
    <div></div>
    <div></div>
  </div>
  <div style=''>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
  </div>
</div>
<center><div id="content" class="right"><br><br><br><br><br>{{message}}</div>
  <script src="https://code.jquery.com/jquery-latest.js"></script>

  

    <script  src="../static/js/index.js"></script>




</body>

</html>
